<!--<ActionBar backgroundColor="#f82462">
    <StackLayout class="m-r-20">
        <GridLayout rows="*" columns="auto 17* auto">
            <SearchBar row="0" col="1" colSpan="2" id="searchbarid" (loaded)="searchBarLoaded()" #sbcontent hint="Enter search phrase" [text]="searchPhrase" textFieldBackgroundColor="#f82462" textFieldHintColor="white" class="search-bar search-bar-width">
            </SearchBar>
            <Button row="0" col="2" (tap)="onSearch()" text="&#xf002;" class="fa search-button btn-border-none" foregroundColor="white" horizontalAlignment="left"></Button>
        </GridLayout>
    </StackLayout>
</ActionBar>-->

<!--My Changes after nicolay's reply-->

<!--This changes Works perfectly-->
<!--<ActionBar title="Welcome to Test" backgroundColor="green" color="white">
</ActionBar>-->

<!--After Putting searchbar inside actionbar, the searchbar is showing in test1 component also -->
<ActionBar backgroundColor="green" color="white">
    <GridLayout>
        <!--<SearchBar row="0" col="1" colSpan="2" id="searchbarid" (loaded)="searchBarLoaded()" #sbcontent hint="Enter search phrase" [text]="searchPhrase" textFieldBackgroundColor="#f82462" textFieldHintColor="white" class="search-bar search-bar-width">
            </SearchBar>-->
        <SearchBar id="searchbarid" #sbcontent hint="Enter search phrase" [text]="searchPhrase" textFieldBackgroundColor="#f82462" textFieldHintColor="white">
        </SearchBar>

    </GridLayout>
</ActionBar>
<StackLayout>
    <Label text="hello !!! Test here, I am quite angry ah!!!" textWrap="true"></Label>
    <Label text="You can go to test-1" textWrap="true"></Label>
    <Button text="Go To Test-1" (tap)="goToTest1()"></Button>
    <Button text="Go To Other" (tap)="goToOthers()"></Button>
    <!-- Here is the HTML view. -->
    <StackLayout class="p-20">
        <HtmlView html="<span><b><font size='20' color='blue' face='lato'>Html view is not taking font properties.</font> Please look into this</b></span>"></HtmlView>
    </StackLayout>
</StackLayout>